.centrar{
    text-align: center;
    
}
.arial{
    font-family: Arial, Helvetica, sans-serif;

}
.justificado{
    text-align: justify;
    margin: 30px auto; 
    width: 80%; 
}

.li{
    list-style-type: none;
}
.esquinaup{
    text-align: right;
}
.article  {
    width: 200px; 
    height: auto; 
    float: left; 
    margin-right: 20px; 
    margin-top: 10px;
    
    
}

.centrar2{
    flex-grow: 1; 
    text-align: center; 
    text-align: justify;
      
}
.contenedor {
    display: flex; 
    align-items: center; 
}

.articleg{
    width: 400px; 
    height: auto; 
    float: left; 
    margin-right: 20px; 
    margin-top: 10px;
}










.centrar1{
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display:list-item;

}

.lista {
   
    text-align: center;
    list-style-position: inside;
    justify-content: center;
    align-items: center;
    display:list-item;
    margin:auto;
  }
  .separar{
    margin-top: 2rem;
  }




.espacio {
    margin-top: 2rem; /* Espacio entre la imagen y el nombre del animal */
}
h1 {
    margin-top: 30px; /* Distancia desde arriba */
}
.imagen2  {
    width: 200px; 
    height: auto; 
    float:initial; 

    margin-top: 10px;


}
.imagen-izquierda {
    float: left;
    margin-right: 20px; /* Opcional: añade un margen derecho para separar el contenido */
}
